/.phpunit.cache
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
.composer.lock
.env
.env.backup
.env.production
vite.config.js
tailwind.config.js
.env
!.env.example
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
vite.config.js
tailwind.config.js
/.idea
/.nova
/.vscode
/.zed
*.zip
*.mp4
node_modules
.next
.env